/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */

/* Add CSS styling here */
html {
    background: #181e29;
    color: antiquewhite;
    font-family: 'Cabin', sans-serif;
    font-size: 62.50%;
    line-height: 1.4;
}
header {
  /* border: 1px solid pink; */
    display: flex;
    align-content: center;
    width: auto;
}
 h1 {
   /* border: 1px solid red; */
   display: inline-block;
   align-items: center;
   font-size: 5rem;
   margin: 0 auto 0 1%;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 1% 0 auto;
    }

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 3rem;
    color: antiquewhite;
    margin: 0 4%;
}
nav a:hover {
  color: white;
 
}
#intro-img {
  width: 100%;
  height:auto;
  filter: grayscale(100%) brightness(50%);
  /* filter:brightness(50%); */
}



.intro-container {
  position: relative;
  text-align: center;
}

 .overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.overlay h2 {
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: #FAEBD7;
}

.overlay p {
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.overlay a {
  display: inline-block;
  font-size: 5rem;
  margin: 5%;
}

.projects:hover {
  filter:grayscale(75%);
  filter:blur(2px);
}
figure {
  margin: 2%;
}
figure:hover {
  color: white;

}
figcaption {
  text-align: center;
  font-size: 2rem;
}
.portfolio {
  padding: 2%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
a {
  text-decoration: none;
    font-size: 4rem;
    color: antiquewhite;
}
a:hover {
  color: white;

}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin: auto;
  }
  nav {
    flex-direction: column;
    align-content: center;
    margin: 2%;
  }
  nav a {
    border: 2px solid white;
    margin: 1rem .5rem;
    padding: 0 14.5rem;
  }
  .overlay h2 {
    font-size: 5rem;
  }
  .overlay a {
    border: 3px solid #FAEBD7;
    padding: 1.5%;
  }
  .portfolio {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  header h1 {
  font-size: 3rem;
}
  nav a {
    font-size: 2.5rem;
    padding: 0 10rem;
  }

  .overlay {
    display: none;
  }
  #intro-img {
    display: none;
  }


}