/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */
/* Add CSS styling here */
body {
    background: #181e29;
    color: antiquewhite;
    font-family: 'Cabin', sans-serif;
    margin: 1%;
}
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}
 h1 {
   display: flex;
   flex-wrap: wrap;
  font-size: 4rem;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin:auto;
    }

nav a {
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-size: 2rem;
    color: antiquewhite;
    margin: 5%;
}
nav a:hover {
  color: white;
 
}
#intro-img {
  width: 100%;
  height:auto;
  filter:none;
  transition: filter 0.5s;
}
#intro-img:hover {
  filter:blur(10px);
}



.intro-container {
  position: relative;
  text-align: center;
  /* filter:blur(10px); */
}

 .overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.overlay h2 {
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  visibility: hidden;
}
.overlay p {
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  visibility: hidden;
}

.intro-container:hover .overlay h2 {
    visibility: visible;
    background: rgba(34, 28, 20, 0.479);
}
.intro-container:hover .overlay p {
  visibility: visible;
  background: rgba(34, 28, 20, 0.479);
}

button {
  display: inline-block;
  font-size: 3rem;
}

.projects:hover {
  filter:grayscale(75%);
  filter:blur(2px);
}
figure {
  margin: 2%;
}
figure:hover {
  color: white;

}
figcaption {
  text-align: center;
  font-size: 2rem;
}
.portfolio {
  padding: 2%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
a {
  text-decoration: none;
    font-size: 4rem;
    color: antiquewhite;
}
a:hover {
  color: white;

}

